In [1]:
# List of high schools
high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]
for school in high_schools:
    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [2]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]
for high_school in high_school_types:
    print (high_school)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [3]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
# Add the Pandas dependency.
import pandas as pd

In [5]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [6]:
for HS in school_series:
    print (HS)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [7]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [8]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [23]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [24]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [25]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["School Name"]= school_name
schools_df["Type"]=type_of_school

# Print the DataFrame.
schools_df

   School ID            School Name      Type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [12]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [13]:
school_df_again = pd.DataFrame(high_schools_dict)
school_df_again

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [14]:
school_df_again.columns
school_df_again.index
school_df_again.values

array([[0, 'Huang High School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [4]:
new_school_id = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14]
new_school_name = ["Huang HS", "Fig HS","Shelton HS", "Hernandez HS", "Griffin HS", "Wilson HS", "Cabrera HS", "Bailey HS", "Holden HS", "Pena HS", "Wright HS", "Rod HS", "John HS", "Ford HS", "Thomas HS"]
new_school_type = ["Dis", "Dis", "Cha", "Dis", "Cha", "Cha", "Cha", "Dis", "Cha","Cha", "Cha", "Dis", "Dis","Dis", "Cha" ]

In [5]:
new_school_df = pd.DataFrame

In [10]:
# Add the list to a new DataFrame.
new_school_df = pd.DataFrame(list(zip(new_school_id, new_school_name, new_school_type)),columns = ["School ID", "School Name", "Type"])
new_school_df

    School ID   School Name Type
0           0      Huang HS  Dis
1           1        Fig HS  Dis
2           2    Shelton HS  Cha
3           3  Hernandez HS  Dis
4           4    Griffin HS  Cha
5           5     Wilson HS  Cha
6           6    Cabrera HS  Cha
7           7     Bailey HS  Dis
8           8     Holden HS  Cha
9           9       Pena HS  Cha
10         10     Wright HS  Cha
11         11        Rod HS  Dis
12         12       John HS  Dis
13         13       Ford HS  Dis
14         14     Thomas HS  Cha